@media (min-width: 300px) and (max-width: 599px) {
  body {
    margin: 0%;
    padding: 2% 5%;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    background: linear-gradient(to left, #616161, #9bc5c3);
  }
  .header_search_part {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    padding: 0% 3%;
  }
  .header_search_part .wheather-select {
    width: 40%;
    padding: 1.5% 3%;
    border-radius: 4px;
    background-color: rgba(44, 62, 80, 0.5);
    font-size: 0.7rem;
    height: 1.5rem;
  }
  .header_search_part .wheather-select .wheather-select-option {
    width: 10%;
    font-size: 0.7rem;
  }
  .header_search_part .wheather-input {
    height: 1.5rem;
    width: 40%;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid rgb(186, 178, 178);
    box-shadow: 0px 0px 5px #efefef;
    font-size: 0.7rem;
  }
  .wheather-forecast-current {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
  }
  .wheather-forecast-current .current-box {
    text-align: center;
    width: 100%;
  }
  .wheather-forecast-current .current-box .current-cityname-box {
    display: flex;
    width: 100%;
  }
  .wheather-forecast-current .current-box .current-cityname-box .favorite-button {
    margin-left: 5%;
    font-size: 1.5rem;
  }
  .wheather-forecast-current .current-box .city {
    font-size: 1.2rem;
  }
  .wheather-forecast-current .current-box .temp {
    font-size: 2rem;
  }
  .wheather-forecast-current .current-box .flex img {
    width: 6rem;
  }
  .wheather-forecast-current .current-box .description {
    text-transform: capitalize;
  }
  .wheather-forecast-current .current-box .description, .wheather-forecast-current .current-box .humidity, .wheather-forecast-current .current-box .wind {
    font-size: 1rem;
  }
  .wheather-forecast-current .current-box .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  .wheather-forecast-current .current-box .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }
  .weather-forecast-title {
    margin: 5% 0%;
  }
  .weather-forecast-days {
    height: 13rem;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  .weather-forecast-days .days_card {
    text-align: center;
    padding: 5% 0%;
  }
  .weather-forecast-days .days_card .days_day {
    font-size: 0.5rem;
    margin-bottom: 3%;
  }
  .weather-forecast-days .days_card .days_temp {
    font-size: 1.5rem;
    margin-bottom: 5%;
    margin-bottom: 3%;
  }
  .weather-forecast-days .days_card .days_feels {
    font-size: 0.5em;
  }
  .weather-forecast-days .days_card .days_temp_feels {
    font-size: 0.7rem;
    margin-bottom: 10%;
  }
  .weather-forecast-days .days_card .days_pop {
    font-size: 0.8rem;
  }
  .weather-forecast-hours {
    height: 400px;
    margin-top: 5%;
    display: grid;
  }
  .weather-forecast-hours .hours_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .weather-forecast-hours .hours_box .hours_date, .weather-forecast-hours .hours_box .hours_time {
    font-size: 10px;
  }
  .weather-forecast-hours .hours_box .hours_weather-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .weather-forecast-hours .hours_box .hours_temp {
    font-size: 1.5rem;
  }
  .weather-forecast-hours .hours_box .hours_feels {
    font-size: 0.5rem;
  }
  .weather-forecast-hours .hours_box .hours_temp_feels, .weather-forecast-hours .hours_box .hours_pop {
    font-size: 0.7rem;
  }
  .weather-forecast-hours .hours_box .hours_feels_box {
    text-align: center;
  }
}
@media (min-width: 601px) {
  body {
    margin: 0%;
    padding: 2% 5%;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    background: linear-gradient(to left, #616161, #9bc5c3);
  }
  .header_search_part {
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
  }
  .header_search_part .wheather-select {
    width: 30%;
    font-size: 2rem;
    border-radius: 4px;
    background-color: rgba(44, 62, 80, 0.5);
  }
  .header_search_part .wheather-select .wheather-select-option {
    width: 10%;
    font-size: 2rem;
  }
  .header_search_part .wheather-input {
    width: 30%;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid rgb(186, 178, 178);
    box-shadow: 0px 0px 10px #efefef;
    font-size: 2rem;
  }
  .wheather-forecast-current {
    height: 20rem;
    display: flex;
    justify-content: center;
  }
  .wheather-forecast-current .current-box {
    width: 100%;
    text-align: center;
  }
  .wheather-forecast-current .current-box .current-cityname-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wheather-forecast-current .current-box .current-cityname-box .favorite-button {
    margin-left: 3%;
    font-size: 3rem;
    cursor: pointer;
  }
  .wheather-forecast-current .current-box .city {
    font-size: 2.5rem;
  }
  .wheather-forecast-current .current-box .temp {
    font-size: 3rem;
  }
  .wheather-forecast-current .current-box .flex img {
    width: 8rem;
  }
  .wheather-forecast-current .current-box .description {
    text-transform: capitalize;
  }
  .wheather-forecast-current .current-box .description, .wheather-forecast-current .current-box .humidity, .wheather-forecast-current .current-box .wind {
    font-size: 1.5rem;
  }
  .wheather-forecast-current .current-box .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
    font-size: 3rem;
  }
  .wheather-forecast-current .current-box .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }
  .weather-forecast-title {
    margin: 5% 0% 3% 0%;
  }
  .weather-forecast-days {
    height: 17rem;
    margin-top: 3%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }
  .weather-forecast-days .days_card {
    width: 100%;
    height: 100%;
    padding: 1% 0%;
    background: linear-gradient(to right, rgba(75, 121, 161, 0.3), rgba(40, 62, 81, 0.3));
  }
  .weather-forecast-days .days_card .days_day {
    font-size: 1.3rem;
  }
  .weather-forecast-days .days_card .days_temp {
    font-size: 2rem;
  }
  .weather-forecast-days .days_card .days_pop {
    font-size: 1.5rem;
  }
  .weather-forecast-hours {
    height: 15rem;
    margin-top: 2%;
    display: flex;
    align-items: center;
  }
  .weather-forecast-hours .hours_box {
    width: 100%;
    height: 100%;
    padding: 2% 0%;
    text-align: center;
    background: linear-gradient(to right, rgba(75, 121, 161, 0.3), rgba(40, 62, 81, 0.3));
  }
  .weather-forecast-hours .hours_box .hours_date, .weather-forecast-hours .hours_box .hours_time, .weather-forecast-hours .hours_box .hours_feels {
    font-size: 0.8rem;
  }
  .weather-forecast-hours .hours_box .hours_temp {
    font-size: 1.5rem;
  }
  .weather-forecast-hours .hours_box .hours_weather-icon {
    width: 4rem;
  }
  .weather-forecast-hours .hours_box .hours_temp_feels {
    font-size: 1rem;
    margin-bottom: 1%;
  }
  .weather-forecast-hours .hours_box .hours_pop {
    font-size: 1rem;
  }
}/*# sourceMappingURL=index.css.map */