//Style settings
input {
    height: 30px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid rgb(186, 178, 178);
    box-shadow: 0px 0px 12px #efefef;
  }

  body {
    padding: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: rgb(228, 222, 222);
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
  margin: 0%;
  }
  
  .card {
    background: #000000d0;
    color: white;
    padding: 5em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }

  h2.city {
    text-align: center;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }

.basic_layout {
  margin: 3% 5%;
}
//Whole setting
//header search part
.header_search_part {
  display: flex;
  justify-content: space-between;
}

//5 days weather
.weather-forecast-days {
  height: 350px;
  background-color: burlywood;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  .days_day{
    font-size: 1.3rem;
  }
  .days_temp {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }
  .days_temp_feels, .days_pop {
    font-size: 1.5rem;
    margin-top: 3%;
  }

}

//3hours weather
.weather-forecast-hours {
  height:350px;
  background-color: darkgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .hours_box {
    text-align: center;
    .hours_date, .hours_time, .hours_pop{
      font-size: 1.1rem;
    }
    .hours_temp {
      font-size: 1.5rem;
      margin-bottom: 3%;
    }
    .hours_temp_feels {
      font-size: 1.2rem;
      margin-bottom: 3%;
    }
  }
}


//Current location weather

@media screen and (max-width : 376px) {

.card {
    background: #090909d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 150%;
    max-width: 250px;
    margin: 1em;
  }
//5 days weather
.weather-forecast-days {
  height: 200px;
  padding: 0% 5%;
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  .days_box {
    height: 90%;
    width: 18%;
    margin-top: 3%;
    text-align: center;
    .days_temp {
      font-size: 25px;
      margin-bottom: 5%;
    }
    .days_feels {
      font-size: 10px;
    }
    .days_temp_feels {
      font-size: 12px;
      margin-bottom: 10%;
    }
    .days_pop {
      font-size: 13px;
    }
  }
}

//3hours weather
.weather-forecast-hours {
  height: 400px;
  background-color: darkgrey;
  padding-top: 3%;
  display: grid;
  .hours_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    .hours_date, .hours_time{
        font-size: 10px;
      }
    .hours_weather-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
    .hours_temp {
      font-size: 1.5rem;
    }
    .hours_feels {
      font-size: 0.5rem;
    }
    .hours_temp_feels, .hours_pop {
      font-size: 0.7rem;
    }
    .hours_feels_box {
      text-align: center;
    }
  }
}
}