//Whole setting
body {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

//Style settings
input {
    height: 30px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid rgb(186, 178, 178);
    box-shadow: 0px 0px 12px #efefef;
  }

.basic_layout {
  margin: 3% 5%;
}

//header search part
.header_search_part {
  display: flex;
  justify-content: space-between;
}

//Current location weather

//5 days weather
.weather-forecast-days {
  height: 200px;
  padding: 0% 5%;
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  .days_box {
    height: 90%;
    width: 18%;
    margin-top: 3%;
    text-align: center;
    .days_temp {
      font-size: 25px;
      margin-bottom: 5%;
    }
    .days_feels {
      font-size: 10px;
    }
    .days_temp_feels {
      font-size: 12px;
      margin-bottom: 10%;
    }
    .days_pop {
      font-size: 13px;
    }
  }
}

//3hours weather
.weather-forecast-hours {
  height: 400px;
  background-color: darkgrey;
  padding-top: 3%;
  .hours_box {
    display: flex;
    height: 10%;
    width: 90%;
    margin: 2% 0% 2% 5%;
    background-color: #ffffff;
    .hours_date_time {
      text-align: center;
      margin-top: 2%;
      .hours_date, .hours_time{
        font-size: 10px;
      }
    }
    .hours_weather-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
    .hours_temp {
      font-size: 1.5rem;
      margin-top: 3%;
    }
  }
}

@media screen and (min-width: 376px) {
  //Current location weather
.current_part_box {
  height: 400px;
  background-color: cornflowerblue;
}

//5 days weather
.days_part_box {
  height: 200px;
  background-color: burlywood;
}

//3hours weather
.hours_part_box {
  height: 200px;
  background-color: darkgrey;
}
}